.mainbody{
    background-color: white;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height:60px;
    background-color:rgb(68, 65, 236);   
    /* width: 60%; */
    /* border-bottom: 3px solid rgb(253 ,120, 115) */
}
.tab{
    height:60px;
    width:30%;
    float: left;
}
 .tab-links{
    border: none;
    color: white;
    background-color:rgb(68, 65, 236);  
    padding:2% 4% 4% 4%;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    height: 45px;
    margin-top:15px;
   
}
.tab-links:first-child{
    margin-left: 5%;
}
.tab-links:hover{
    background-color:white;
    color:rgb(49, 44, 44);     
    border:none;
}
.tab-links:active{
    background-color:white;
    color:rgb(253 ,120, 115);     
    border:none;
}
.navbar-right-side{
    width: 48%;
    /* background-color:blueviolet; */
    height: inherit;
    float: right;
    display: flex;
    justify-content: flex-end;
}
.today{
    border:1px solid white;
    border-radius: 2px;
    color:white;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding:2%;
    width: 18%;  
    height: 10px; 
    margin-top: 8px;  
    display: flex;
    align-items:center ;
    justify-content: center;
    margin-right: 2%;
}
.week{
    margin-right: 15%; 
}
