body{
    height:100%;
    background-color: rgb(3,42,113);
}

.sidebar{
    width:22%;
    background-color: rgb(96,123,230);
    float: left;
    height:100%;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    color:white;


}

.logo{
    display: flex;
    justify-content: center;
    color:white;
    display: flex;
    align-content: center;
    cursor: pointer;
    padding:20% 0 0 0;
}

.home{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding:10% 0 0 0;


}
.header-account{
    /* background-color: brown; */
    font-weight: 500;
    font-size: 17px;
    padding: 5% 0 0 5%;
    width: 90%;
}
.account{
    border-bottom: 1px solid white;
}

.practice{
   padding-top:10%;
   padding-left:5%;
   display: block;
   width:90%;
}
.practice-textbox{
    border-bottom:1px solid lightgrey;
    /* border-left:1px solid lightgrey; */
    color:white;
    display: flex;
    justify-content: flex-start;
    padding-top: 2%;
    cursor: pointer;
}
.practice-textbox-content{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-text{
    color:white;
    font-size: 12px;
    font-weight: 600;
    /* padding: 3%; */
}
.person{
    padding-top:20%;
    padding-left:5%;
    width:90%;
    
}
.edit-order{
    float: right;
    cursor: pointer;
    color:white;
    transition: .2s;

}
.edit-order:hover{
    color:rgb(96,123,230);
    border: .5px solid white;
    border-radius: 3px;
    padding: 1%;
    position: relative;
    background-color: white;
    /* border-bottom: 1px solid rgb(71, 152, 245); */
}
.person-name-container{
    margin-top: 5%;
}
.person-name{
    padding:4%;
    border-bottom: 1px solid lightgray;
    border-radius: 2px;
    color:white;
    margin-top: 4%;
    font-size: 15px;
    transition: color .2s;
    transition: background-color .2s;
}
.person-name:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    color: rgb(96,123,230);
    border-radius: 6px;


    /* color:rgb(32, 27, 27);  */
}
